/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

:root {
    --font: 'Poppins', 'Poppins', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

#userPhoto {
    width: 128px;
    height: 128px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName {
    color: rgb(66, 66, 66);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.subtitle {
    text-align: center;
    font-family: var(--font);
    margin-top: -2px;
    color: rgb(76, 76, 76);
    font-size: 0.8rem;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    padding: 0px 12px;
}

.link {
    display: block;
    background-color: #0C55FF;
    color: #fff;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 16px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid 2px #0C55FF;
}

.link:hover {
    background-color: #fff;
    color: #0C55FF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: solid 2px #0C55FF;
}

.footer {
    text-align: center;
    font-size: 1.3rem;
}

.footer a {
    text-decoration: none;
    display: inline-block;
}

.footer a i {
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
}

.circulo {
  background: #fff;
  border-radius: 50%;
  width: 42px !important;
  height: 42px;
  font-size: 20px;
  color: rgb(53, 53, 53);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.circulo:hover {
  background: #0C55FF;
  color: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.night_mode {
    position: fixed;
    top: 25px;
    right: 30px;
    z-index: 10000000;
    color: #585858;
}

.night_mode:hover {
    cursor: pointer;
}